/vimfiles/dein/
/vimfiles/tmp/backup/*
/vimfiles/tmp/swap/*
/vimfiles/tmp/undodir/*
!.gitkeep

*~
*.un~
*.swp

/vscode/*
!/vscode/keybindings.json
!/vscode/settings.json
!/vscode/extensions
!/vscode/install_extensions.sh
